.vertical-menu {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 10%; /* Stay at the top */
  left: 5%;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.vertical-menu a {
  width: 100px; /* Set a width if you like */
  color: #1685c0; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  font-family: 'Montserrat', sans-serif;
}

.vertical-menu a:hover {
  font-size: 24px;
}

.vertical-menu a.active {
  color: #ba1b99;
}

